*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.slider{
    max-height: 550px;
}
.captionSlider{
    top: 0px;
}
.captionSlider h1{
    font-size: 50px;
    text-shadow: 2px 0px 10px #000;
}
.booking{
    background-image: url('../images/reservation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
textarea.form-control{
    min-height: 150px;
}
.meal img{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}
.modal img{
    clip-path: none;
}
form input,form textarea{
    font-family: 'Raleway', sans-serif;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}
iframe{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
img,div{
    border-radius: 2px;
}